<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SCISSOR</title>
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/492065a912.js"
      crossorigin="anonymous"
    ></script>

    <!-- Fonts -->
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Style -->
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <nav class="home" id="home">
      <div class="nav-center">
        <div class="logo">
          <a href="/"> <img class="logo-icon" src="./imgs/Logo.svg" alt="nav-logo" /></a>
        </div>

        <ul class="nav-links">
          <li><a class="nav-link primary-blue-300" href="/urlshrinker">My URLs</a></li>
          <li><a class="nav-link" href="/urlshrinker">Analytics</a></li>
        </ul>

        <ul class="signin-links">
          <li><a class="signin-link" href="/login">Log in</a></li>
        </ul>

        <span class="toggle_btn"
          ><i class="fa-solid fa-bars" style="color: #005ae2;"></i>
            </i></span>
      </div>

      <div class="dropdown_menu">
        <li><a class="nav-link primary-blue-300" href="/urlshrinker">My URLs</a></li>
        <li><a class="nav-link" href="/urlshrinker">Analytics</a></li>
        <li><a class="signin-link" href="/login">Log in</a></li>
      </div>
    </nav>
    
    <header>
      <div class="header-center">
        <h1 class="header-title">
          Optimize Your Online Experience with Our Advanced
          <span class="primary-blue-400 header-bold"
            >URL Shortening
            <span class="header-bold-underline"
              ><img src="./imgs/underline.svg" alt=""
            /></span>
          </span>
          Solution
        </h1>
        <p class="header-text">
          Personalize your shortened URLs to align with your brand identity.
          Utilize custom slugs, branded links, and domain customization options
          to reinforce your brand presence and enhance user engagement.
        </p>
        <div class="header-btns">
          <a href="/signup"><button class="header-btn btn-blue btn">Sign up</button></a>
        </div>
        <div class="chain-container">
          <div class="chain">
            <img src="./imgs/chain.svg" alt="chain" />
            <p class="chain-text">
              Seamlessly transform your long URLs into concise and shareable
              links with just few clicks.
            </p>
          </div>
          <div class="chain-bg">
            <img src="./imgs/background-chain.svg" class="chain-img" alt="" />
          </div>
        </div>
      </div>
      <div class="circle-layer">
        <img src="./imgs/circle-layer.svg" alt="" class="circle-layer-img" />
      </div>
    </header>

    <!-- View -->
    <section class="view">
      <div class="section-center view-center">
        <h1 class="view-title">
          One Stop. <br />
          Four <span class="primary-blue-400">Possibilities.</span>
        </h1>
        <ul class="view-list">
          <li class="view-num">
            3M <span class="view-subtitle">Active users</span>
          </li>
          <li class="view-num">
            60M
            <span class="view-subtitle"
              >Links & QR <br />
              codes created</span
            >
          </li>
          <li class="view-num">
            1B
            <span class="view-subtitle"
              >Clicked & Scanned <br />
              connections</span
            >
          </li>
          <li class="view-num">
            300k <span class="view-subtitle">App Integrations</span>
          </li>
        </ul>
      </div>
    </section>

    <script>
      const toggleBtn = document.querySelector('.toggle_btn')
      const toggleBtnIcon = document.querySelector('.toggle_btn i')
      const dropdownMenu = document.querySelector('.dropdown_menu')

      toggleBtn.onclick = function () {
        dropdownMenu.classList.toggle('open')
        const isOpen = dropdownMenu.classList.contains('open')
        toggleBtnIcon.classList = isOpen
        ?'fa-solid fa-xmark'
        : 'fa-solid fa-bars'
      }
    </script>
    </body>
    </html>

    