<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <input type="checkbox" id="check"></inpt>
      <div class="loginform">
        <h2>Login</h2>
        <form action="#">
          <input type="text" placeholder="enter your email" />
          <input type="password" placeholder="enter your password" />
          <a href="#">forgot password?</a>

          <input type="button" class="button" value="Login" />
        </form>
        <div class="signup">
          <span class="signup"
            >don't have an account? <label for="check">sign up</label></span
          >
        </div>
      </div>

      <div class="registrationform">
        <h2>Sign up</h2>
        <form action="#">
          <input type="text" placeholder="enter your email" />
          <input type="text" placeholder="enter your username" />
          <input type="password" placeholder="create your password" />
          <input type="password" placeholder="confirm your password" />

          <input type="button" class="button" value="Sign up" />
        </form>
        <div class="signup">
          <span class="signup"
            >already have an account? <label for="check">Login</label></span
          >
        </div>
      </div>
    </div>
  </body>
</html>
