<!-- Footer -->
<footer class="footer">
    <div class="section-center">
      <p class="footer-text">
        Terms of Service | Security | Scissor
        <span class="footer-date primary-blue-400"></span>
      </p>
      <p class="footer-text">
        &copy2024 copyright  Gilbert Believe
        <span class="footer-date primary-blue-400"></span>
      </p>
    </div>
  </footer>

</body>
</html>