<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SCISSOR</title>
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/492065a912.js"
      crossorigin="anonymous"
    ></script>

    <!-- Fonts -->
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Style -->
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <nav class="home" id="home">
      <div class="nav-center">
        <div class="logo">
          <a href="#"> <img class="logo-icon" src="./imgs/Logo.svg" alt="nav-logo" /></a>
        </div>

        <ul class="nav-links">
          <li><a class="nav-link primary-blue-300" href="#home">My URLs</a></li>
          <li class="feature-tag">
            
          
        </ul>

        <ul class="signin-links">
          <li><a class="signin-link primary-blue-300" href="/logout">Log out</a></li>
        </ul>

        <span class="logo-btn sidebar-open-btn"
          ><i class="fa-solid fa-bars fa-xl" style="color: #095cec"></i
        ></span>
      </div>
    </nav>