<!-- Footer -->
<footer class="footer">
    <div class="section-center">
      <div class="footer-center">
        <div class="logo-socials">
          <img src="./imgs/black-logo.svg" alt="logo" class="footer-logo" />
          <ul class="footer-socials">
            <li><img src="./imgs/i.fi-social-twitter.svg" alt="" /></li>
            <li><img src="./imgs/svg.feather.svg" alt="" /></li>
            <li><img src="./imgs/i.fi-social-linkedin.svg" alt="" /></li>
            <li><img src="./imgs/i.fi-social-facebook.svg" alt="" /></li>
          </ul>
        </div>
        <!-- single link container -->
        <div class="logo-links">
          <h3>Why Scissor ?</h3>
          <ul>
            <li><a href="#">Scissors 101</a></li>
            <li><a href="#">Integrations and API</a></li>
            <li><a href="#">Pricing</a></li>
          </ul>
        </div>
        <!-- end of cont -->
        <!-- single link container -->
        <div class="logo-links">
          <h3>Solutions</h3>
          <ul>
            <li><a href="#">Social Media</a></li>
            <li><a href="#">Digital Marketing</a></li>
            <li><a href="#">Customer Service</a></li>
            <li><a href="#">For Developers</a></li>
          </ul>
        </div>
        <!-- end of cont -->
        <!-- single link container -->
        <div class="logo-links">
          <h3>Products</h3>
          <ul>
            <li><a href="#">Link Management</a></li>
            <li><a href="#">QR Codes</a></li>
            <li><a href="#">Link-in-bio</a></li>
          </ul>
        </div>
        <!-- end of cont -->
        <!-- single link container -->
        <div class="logo-links">
          <h3>Company</h3>
          <ul>
            <li><a href="#">About Scissor</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Reviews</a></li>
          </ul>
        </div>
        <!-- end of cont -->
        <!-- single link container -->
        <div class="logo-links footer-second-line">
          <h3>Resources</h3>
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Resource Library</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">App Connectors</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Trust Center</a></li>
            <li><a href="#">Browser Extension</a></li>
            <li><a href="#">Mobile App</a></li>
          </ul>
        </div>
        <!-- end of cont -->
        <!-- single link container -->
        <div class="logo-links">
          <h3>Features</h3>
          <ul>
            <li><a href="#">Branded Links</a></li>
            <li><a href="#">Mobile Links</a></li>
            <li><a href="#">Campaign</a></li>
            <li><a href="#">Management & Analytics</a></li>
            <li><a href="#">QR Code generation</a></li>
          </ul>
        </div>
        <!-- end of cont -->
        <!-- single link container -->
        <div class="logo-links">
          <h3>Legal</h3>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookie Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Acceptable Use Policy</a></li>
            <li><a href="#">Code of Conduct</a></li>
          </ul>
        </div>
        <!-- end of cont -->
      </div>
      <p class="footer-text">
        Terms of Service | Security | Scissor
        <span class="footer-date primary-blue-400"></span>
      </p>
    </div>
  </footer>

  <div class="sidebar">
    <div class="sidebar-center">
      <button class="sidebar-close-btn">
        <i class="fa-sharp fa-solid fa-xmark fa-xl"></i>
      </button>

      <ul class="sidebar-links">
        <li>
          <a class="sidebar-link primary-blue-300" href="#home">My URLs</a>
        </li>
        <li><a class="sidebar-link" href="#features">Features</a></li>
        <li><a class="sidebar-link" href="#pricing">Pricing</a></li>
        <li><a class="sidebar-link" href="#form">Analytics</a></li>
        <li><a class="sidebar-link" href="#questions">FAQs</a></li>
      </ul>
    </div>
  </div>
</body>
</html>